@model IEnumerable<ShoeShop.Models.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown">
        Категории
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-page="/Index">Все товары</a></li>
        <li><hr class="dropdown-divider"></li>
        @foreach (var category in Model)
        {
            <li><a class="dropdown-item" asp-page="/Index" asp-route-categoryId="@category.Id">@category.Name</a></li>
        }
    </ul>
</li>