@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Editor") || User.IsInRole("Consultant") || User.IsInRole("Analyst"))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-page="/Admin/Index" class="nav-link text-dark">
                <i class="fas fa-cogs me-1"></i>Админ панель
            </a>
        </li>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Consultant"))
        {
            <li class="nav-item">
                <a asp-page="/Admin/Chat" class="nav-link text-dark">
                    <i class="fas fa-comments me-1"></i>Чат
                </a>
            </li>
        }
    </ul>
}
