@if (User.IsInRole("Admin"))
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-page="/Admin/Index" class="nav-link text-dark">
                <i class="fas fa-cogs me-1"></i>Админ панель
            </a>
        </li>

    </ul>
}
