@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Ошибка</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Сайт временно недоступен</h1>
    <p>Мы работаем над устранением проблемы.</p>
</body>
</html>